.discovery__container {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.discovery__container.active__player {
  margin-bottom: 60px;
}

.discovery__header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  background-color: #000;
  width: 100%;
  z-index: 10;
  right: 0;
  position: sticky;
  top: 0;
  height: 48px;
}

.discovery__header h4 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.discovery__transition {
  animation: fadein 0.5s ease;
}

.discovery__nav {
  padding: 8px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.6px;
  position: sticky;
  top: 48px;
  z-index: 10;
  background-color: #000;
}

.mix__container {
  padding: 2px 0;
  animation: fadein 0.5s ease;
}

.mix__thumbnail {
  position: relative;
  width: 100vw;
  height: 56.25vw;
}

.mix__button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
}

.mix__button svg {
  width: 30px;
  height: 30px;
  margin-left: -1px;
}

.mix__description {
  padding: 12px;
  padding-bottom: 30px;
  position: relative;
}

.mix__description h5 {
  margin-top: 2px;
  font-size: 14px;
}

.mix__description h6,
.mix__date {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.mix__title {
  font-weight: 500;
}

.mix__description .mix__html {
  margin-top: 6px;
  text-transform: none;
  line-height: 1.5;
}

.mix__date {
  position: absolute;
  top: 12px;
  right: 12px;
}

.mix__genre__container {
  margin-top: 12px;
}

.mix__genre {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #999;
  border: 1px solid #999;
  padding: 4px;
  margin-right: 8px;
  white-space: nowrap;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.genre {
  font-size: 14px;
  margin: 20px;
  letter-spacing: 0.5px;
}

.load__more {
  margin: auto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 4px 8px;
  color: #999;
  border: 1px solid #999;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.load__more:hover {
  opacity: 0.75;
  text-decoration: none;
  cursor: pointer;
}
